<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eskeyLamb.apps.gpsNotify"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".GPSNotifyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="LocationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="MainMenu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="NewTaskActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ScheduledActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="TimeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="TaskActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="NewAlarmActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="NewLocationActivity"
            android:screenOrientation="portrait">
        </activity>

        <service android:name="GPSNotifyService" >
        </service>

        <receiver android:name="com.eskeyLamb.apps.gpsNotify.MyBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>